<!DOCTYPE html>
<html>

<head>

    <title>BARABIRU &nbsp|&nbsp Feedback</title>
    <link rel="icon" href="assets/favicon.png">

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/main-r.css">
	<link rel="stylesheet" href="styles/about.css">
	<link rel="stylesheet" href="styles/about-r.css">
	
	<script defer src="styles/script.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous'></script> 
	<script src="https://kit.fontawesome.com/4a0046fff5.js" crossorigin="anonymous"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<section class="feedback" id="feedback">
	<div class="wrapper">

		<div class="wrapper">

            <div class="feedback-button">
                <button class="feedback_btn send_btn">Feedback</button>
            </div>

		<div class="modal_wrapper">
			
			<div class="shadow close_btn"></div>
		
			<div class="modal">

				<div class="close_btn">
					<i class="fa-solid fa-xmark"></i>
				</div>
				
				<div class="header">
					<h3>Feedback</h3>
					<p>What do you think of our coffeeshop?</p>
				
				<div class="feedback_icons">
					<ul>
					<li>
						<i class="fa-regular fa-face-smile"></i>
					</li>
					<li>
						<i class="fa-regular fa-face-smile-wink"></i>
					</li>
					<li>
						<i class="fa-regular fa-face-kiss-beam"></i>
					</li>
					<li>
						<i class="fa-regular fa-face-grin-hearts"></i>
					</li>
					<li>
						<i class="fa-regular fa-face-meh-blank"></i>
					</li>
					</ul>
				</div>

			</div>

			<div class="body">
				<p>Any critics and suggestions?</p>
				<textarea class="textarea"></textarea>
			</div>
				
			<div class="footer">
				<button class="send_btn">Send</button>
				<button class="cancel_btn">Cancel</button>
			</div>

		</div>
	</div>

</section>

</body>

</html>