<!DOCTYPE html>
<html>

<head>

    <title>BARABIRU &nbsp|&nbsp Login</title>
    <link rel="icon" href="assets/favicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    * {
        font-family: "Baloo 2";
    }
    </style>

</head>

<body>
  <h1>Login</h1>
  <form action="/user" method="post">
    <label for="username">Username:</label>
    <input type="text" id="user" name="user"><br><br>
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="pass"><br><br>
    <input type="submit" value="Login">
  </form>
</body>
</html>