<!DOCTYPE html>
<html>

<head>

    <title>BARABIRU &nbsp|&nbsp Login</title>
    <link rel="icon" href="assets/favicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <style>

    * {
        font-family: "Baloo 2";
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        background: #fdfdfd;
    }

    .container {
        max-width: 370px;
        padding: 50px;
        background: #fdfdfd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .logo img {
        margin-top: -30px;
        width: 100px;
    }

    .form-control {
        height: 40px;
        font-size: 16px;
        padding: 20px;
        border-radius: 10px;
    }

    .btn {
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 10px;
        background: #3068e1;
    }

    .btn:hover {
        background: #fdfdfd;
        border: solid 1px #3068e1;
        color: #3068e1;
        transition: all 0.3s;
    }    

    #error-message {
        display: none;
        color: #aa0000;
        margin-top: -10px;
        margin-bottom: 15px;
        text-align: center;
    }
    
    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>

<body>
    
    <div class="container">

        <div class="logo">
            <img src="assets/logo.png">
        </div>

        <div id="error-message">Invalid User or Pass</div>

        <form id="login-form">
            <div class="form-group">
                <input type="text" id="user" name="user" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" id="pass" name="pass" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember">
                <label for="remember" style="font-size: 14px">&nbsp Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

    </div>

    <script>
        $(document).ready(function() {
            $('#login-form').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.success) {
                            window.location.href = '/admin';
                        } else {
                            $('#error-message').text('').hide();
                        }
                    },
                    error: function(xhr) {
                        var response = JSON.parse(xhr.responseText);
                        $('#error-message').text(response.message).show();
                    }
                });
            });
        });
    </script>

</body>

</html>